flake8==7.0.0
pre-commit==4.2.0
types-pyyaml==6.0.12.2
lazy-object-proxy==1.11.0
types-frozendict==2.0.9
typing-extensions==4.14.1
mypy==1.10.0
pytest==8.0.0
pytest-cov==6.0.0
pytest-dotenv==0.5.2
pytest-benchmark==4.0.0
pytest-lazy-fixtures==1.1.2
pytest-runner==6.0.0
pytest-mock==3.12.0
bandit==1.8.0
bandit[toml]==1.8.0
black==25.1.0
sphinx==8.0.0
sphinx-rtd-theme==3.0.0
jupyterlab==4.2.1
